<!--Pie de pagina -->
<footer class="bg-dark text-white py-5 border-top border-success">
        <!---- Logos ---->
        <div class="mb-4 d-flex justify-content-center align-items-center">
            <img src="img/6d7b7208-4bdb-442c-ae2c-19e84ed5a4f7.png" alt="" width="80" class="mx-3">
        </div>

         <!--Redes sociales-->
        <div class="redes mb-4 text-center">
            <a href="https://www.facebook.com/profile.php?id=100047534383157&locale=es_LA" class="text-warning mx-2 social-icon"><i class="fab fa-facebook fa-lg mx-2 text-warning"></i></a>
            <a href="#" class="text-warning mx-2 social-icon"><i class="fab fa-tiktok fa-lg mx-2 text-warning"></i></a>
            <a href="https://www.instagram.com/santa_cruzguerrero/?fbclid=IwY2xjawOtLKtleHRuA2FlbQIxMABicmlkETFJN0NHdXVQQjdwOVRldGE2c3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHp9mOLY_28_hJfn4Yf8PINAl2oiPjZvhx9-OlCk0WvVbmPAjYiL2XO-iba9m_aem_G2k-UtsGg6SiRUxxNiIskw#" class="text-warning mx-2 social-icon"><i class="fab fa-instagram fa-lg mx-2 text-warning"></i></a>
            <a href="#" class="text-warning mx-2 social-icon"><i class="fab fa-instagram fa-lg mx-2 text-warning">/</a>
        </div>

        <!--Derechos reservados-->
        <div class="text-center">
            <p>© 2025 Santa Cruz Guerrero — Todos los derechos reservados.</p>
        </div>
</footer>