<!--Barra de Navegación-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black shadow-lg border-bottom border-success">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#/home">
            <img src="img/6d7b7208-4bdb-442c-ae2c-19e84ed5a4f7.png" width="45" class="me-2">
            <span class="fw-bold text-success">Santa Cruz Guerrero</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="menu">
            <ul class="navbar-nav me-3 gap-lg-3">
                <li class="nav-item"><a class="nav-link" href="#/home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#/galeria">Galeria</a></li>
                <li class="nav-item"><a class="nav-link" href="#/contacto">Contacto</a></li>
            </ul>
            <div class="text-center mt-4">
                <button id="btnLogin" class="btn btn-success hover-glow" data-bs-toggle="modal" data-bs-target="#modalLogin">Iniciar Sesión</button>
                <button id="btnLogout" class="btn btn-danger hover-glow">Cerrar sesión</button>
            </div>
        </div>
    </div>
</nav>